{include file="includes/header.html"}
    <div class="container">
        <div class="page">
            <h2>Onde Estamos</h2>
            <div class="text">                
                <ul>
                    <li><i class="fa fa-map-marker"></i> {$endContato} - {$localContato}</li>
                    <li><i class="fa fa-phone"></i>{$foneContato}</li>
                </ul>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3660.904352226806!2d-51.95038948568941!3d-23.427822062557958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ecd72566d8a729%3A0x5b7ea5c93f5aaa35!2sStudio+Raquel+Pagani!5e0!3m2!1spt-PT!2sbr!4v1482329051706" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{include file="includes/footer.html"}
