{include file="includes/header.html"}
    <div class="bg-branco container">
        <div class="text-left">
            <h1>Contato</h1>
            <p>Fale conosco! </p>
            <p>Para entrar em contato conosco, preencha o formulario abaixo com seus dados e sua mensagem. Entraremos em contato assim que possivel.</p>
            <p>Queremos te ouvir!</p>
        </div>
        <div class="row">
            <div class="contact-form col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <form id="main-contact-form" name="contact-form" method="post" action="{$rootUrl}/contato/enviar/">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input type="text" name="nome" class="form-control bg-input radius-none" placeholder="Nome" required="required" {if isset($nome)}value="{$nome}"{/if}>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <input type="text" name="fone" class="form-control bg-input fone radius-none" maxlength="15" placeholder="Telefone com DDD" required="required" {if isset($fone)}value="{$fone}"{/if}>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control bg-input radius-none" placeholder="E-mail" required="required" {if isset($email)}value="{$email}"{/if}>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <textarea name="msg" id="message" class="form-control bg-input radius-none" rows="4" placeholder="Escreva aqui sua mensagem" required="required" {if isset($msg)}value="{$msg}"{/if}></textarea>
                        </div>
                        <div class="form-group col-md-12 text-right">
                            <button type="submit" class="btn btn-submit radius-none">Enviar mensagem</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 img-fachada">
                <img src="{$img}{$thisController}/fachada.jpg" alt="{$name}" class="img-responsive" >
            </div>
        </div>
        <div class="text-left onde">
          <h2>Onde Estamos</h2>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <p>{$endContato} - {$localContato}</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fone">
              <p>{$foneContato}</p>
            </div>
          </div>
          {if $ambiente == "producao"}
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3660.904352226806!2d-51.95038948568941!3d-23.427822062557958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ecd72566d8a729%3A0x5b7ea5c93f5aaa35!2sStudio+Raquel+Pagani!5e0!3m2!1spt-PT!2sbr!4v1482329051706" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
          {/if}
        </div>
    </div>
{include file="includes/footer.html"}
