{include file="includes/header.html"}
<div class="pilates">
  <img class="img-responsive" src="{$img}{$thisController}/pilates.jpg" alt="Pilates" />
</div>
<div class="ondeestamos row text-left">
  <div class="col-md-6 col-md-offset-6">
    <p class="title">Centro de</p>
    <h2>Bem Estar em Movimento</h2>
    <p>Nossa casa é um centro de Bem Estar!</p>
    <p>Acreditamos no equilíbrio do corpo junto à natureza, priorizando a necessidade individualizada. Estamos em frente ao Bosque 2, fácil localização e estacionamento. Ar fresco, inspiração e luz natural. Venha conhecer e se surpreender!</p>
    <p>Av. Nóbrega, 536 - Maringá, PR <button type="button" class="btn btn-home">Clique aqui para saber como chegar</button></p>
  </div>
</div>

{include file="includes/footer.html"}
