{include file="includes/header.html"}
<div class="container img-pilates">
  <img src="{$img}{$thisController}/pilates.jpg" alt="Pilates" />
</div>
<div class="container-fluid ondeestamos">
  <div class="texto">
    <p class="title">Centro de <br><span>Bem Estar em Movimento</span></p>
    <p>Nossa casa é um centro de Bem Estar!</p>
    <p>Acreditamos no equilíbrio do corpo junto à natureza, priorizando a necessidade individualizada. Estamos em frente ao Bosque 2, fácil localização e estacionamento. Ar fresco, inspiração e luz natural. Venha conhecer e se surpreender!</p>
    <p>{$endContato} - {$localContato}</p>
    <p><a href="https://goo.gl/maps/UE5hw3FgME52" target="_blank" class="btn btn-verde" role="button">Clique aqui para saber como chegar</a></p>
  </div>
</div>
{include file="includes/footer.html"}