{include file="includes/header.html"}	
<section id="contact">        
    <div class="container bg-branco">
        <div class="heading wow fadeInUp row text-center" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h1>Mensagens enviadas</h1>            
        </div>        
        <div class="wow fadeIn row" data-wow-duration="1000ms" data-wow-delay="600ms">            
            <ul class="text-justify msgs">
                    {foreach from=$msgs item=msg}
                    <li><p>{$msg.msg}</p></li>			
                    {/foreach}                    
            </ul>                              
        </div>
    </div>

</section>
{include file="includes/footer.html"}