{include file="includes/header.html"}
<div class="container">
    <div class="first">
        <div class="left">
            <h2>{$thisController}</h2>
            <p>Inspirado na possibilidade de melhoria de qualidade de vida de seus, alunos, Joseph Pilates desenvolveu sua técnica em meados de 1930 com foco nas aptidões individuais.</p>
            <p>O método Pilates se adapta a <strong>diferentes níveis de condicionamento físico e ás necessidades específicas de quem o praticadiferentes níveis de condicionamento físico</strong> e ás <strong>necessidades específicas de quem o pratica.</strong> Com especialidade em Pilates desde 2002, o foco do Studio é:</p>
            <p><span>atendimento terapêutico (dor crônica), correção postural e conscientização corporal</span></p>
            <p>Para isso, nosso Pilates tem suporte de diversos acessórios para compor a atividade de forma satisfatória como rolos, bolas, bosus e flex rings.</p>
            <p>Venha conhecer nosso espaço e fazer uma aula experimental de Pilates.</p>
        </div>
        <div class="right">
            <h4>"Hábitos incorretos são responsáveis pela maioria de nossas doenças, se não por todas elas" Joseph Pilates</h4>
            <form action="">
                <p class="title">Venha conhecer nosso espaço e fazer uma aula experimental de Pilates.</p>
                <div class="form-group"><input class="form-control" placeholder="Nome" type="text"></div>
                <div class="form-group"><input class="form-control" placeholder="E-mail" type="email"></div>
                <div class="form-group"><input class="form-control" placeholder="Telefone" type="tel"></div>
                <div class="form-group"><button class="btn btn-azul">Enviar</button></div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="second">
        <div class="img-pilates">
            <a href="{$img}{$thisController}/pilates1.jpg" title="">
                <img src="{$img}{$thisController}/pilates1.jpg" alt="">
            </a>
        </div>
        <div class="img-pilates">
            <a href="{$img}{$thisController}/pilates2.jpg" title="">
                <img src="{$img}{$thisController}/pilates2.jpg" alt="">
            </a>
        </div>
        <div class="img-pilates">
            <a href="{$img}{$thisController}/pilates3.jpg" title="">
                <img src="{$img}{$thisController}/pilates3.jpg" alt="">
            </a>
        </div>
        <div class="img-pilates">
            <a href="{$img}{$thisController}/pilates4.jpg" title="">
                <img src="{$img}{$thisController}/pilates4.jpg" alt="">
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="third">
        <div class="alivio-de-dores pilates">
            <h3>Alívio de dores</h3>
            <ul class="list">
                <li>Restabelecimento da função articular</li>
                <li>Ganho de força e flexibilidade</li>
                <li>Descompressão intervertebral</li>
                <li>Reajuste postural</li>
            </ul>
            <div class="overlay"></div>
        </div>
        <div class="terceira-idade pilates">
            <h3>Terceira Idade!</h3>
            <ul class="list">
                <li>Resgate da autoestima</li>
                <li>Autonomia</li>
                <li>Músculos e ossos fortes</li>
            </ul>
            <div class="overlay"></div>
        </div>
        <div class="adolescentes-e-pre-adolescentes pilates">
            <h3>Adolescentes e Pré-adolescentes</h3>
            <ul class="list">
                <li>Orientação às atividades de rotina: sentados na escola, carregando a mochila, usando smartphones, etc</li>
                <li>Conscientização Corporal</li>
                <li>Reeducação postural</li>
                <li>Flexibilidade</li>
            </ul>
            <div class="overlay"></div>
        </div>
        <div class="gravidez-e-pos-parto pilates">
            <h3>Gravidez e pós-parto</h3>
            <ul class="list">
                <li>Fortalecimento preparatório para o bem-estar antes e depois do parto</li>
                <li>Reorganização do corpo e da postura</li>
                <li>Fortalecimento e reorganização corporal pós-parto</li>
            </ul>
            <div class="overlay"></div>
        </div>
        <div class="atletas pilates">
            <h3>Atletas</h3>
            <ul class="list">
                <li>Alívio das dores</li>
                <li>Prevenção de lesões</li>
                <li>Fortalecimento</li>
            </ul>
            <div class="overlay"></div>
        </div>
        <div class="sedentarios pilates">
            <h3>Sedentários</h3>
            <ul class="list">
                <li>Condicionamento sem risco de lesões</li>
                <li>Limites e desafios de acordo com o potencial individual</li>
            </ul>
            <div class="overlay"></div>
        </div>
    </div>
</div>
{include file="includes/footer.html"}
