{include file="includes/header.html"}
<div class="container">
	<div class="first">
		<div class="left">
			<h2>Power Plate&#174;</h2>
			<p>A tecnologia vibratória foi desenvolvida pela NASA em 2001 para combater a atrofia muscular e perda óssea dos astronautas, causada pela ausência de gravidade a que ficam expostos por longo período no espaço. O Power Plate então foi desenvolvido para levar esse benefício ao público. No Brasil chegou em 2005 e, em Maringá, 2008 através do nosso Studio!</p>
			<div class="destaque">
				<p>Indicado à <strong>todas faixas etárias</strong> e condicionamentos físicos. Adolescentes à adultos, de atletas de alto nível a idosos.</p>
			</div>
			<p>Melhora da força muscular e da massa óssea</p>
			<p>Os programas de exercício são personalizados de acordo com o grau da musculatura, condicionamento e objetivo de trabalho.</p>
			<p>Venha conhecer nosso espaço e fazer uma aula experimental de Power Plate.</p>
			<p>Aumento da densidade óssea: <a href="https://g.co/kgs/GdNvKE" target="_blank" title="Osteopenia">OSTEOPENIA</a></p>
			<p>Melhora imediata da circulação sanguínea</p>
			<p>Reduz a celulite</p>
			<p>Aumento da força e resistência</p>
			<p>Aumento da flexibilidade</p>
			<p>Alívio da dor</p>
			<p>Queda no cortisol - hormônio relacionado ao stress</p>
		</div>
		<div class="right">
			{include file="includes/form-visita.html"}
			<div class="visite">
				<p>Conheça o site oficial</p>
				<a href="http://www.powerplate.com/" title="Dite oficial Power Plate" target="_blank">www.powerplate.com</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="second">
		<div class="img-powerplate">
			<a href="#" title="Power Plate" class="modal-img" data-toggle="modal" data-target=".bs-modal-lg">
				<img src="{$img}{$thisController}/powerplate1.jpg" alt="Power Plate">
			</a>
		</div>
		<div class="img-powerplate">
			<a href="#" title="Power Plate" class="modal-img" data-toggle="modal" data-target=".bs-modal-lg">
				<img src="{$img}{$thisController}/powerplate2.jpg" alt="Power Plate">
			</a>
		</div>
		<div class="img-powerplate">
			<a href="#" title="Power Plate" class="modal-img" data-toggle="modal" data-target=".bs-modal-lg">
				<img src="{$img}{$thisController}/powerplate3.jpg" alt="Power Plate">
			</a>
		</div>
		<div class="img-powerplate">
			<a href="#" title="Power Plate" class="modal-img" data-toggle="modal" data-target=".bs-modal-lg">
				<img src="{$img}{$thisController}/powerplate4.jpg" alt="Power Plate">
			</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="third">
		<div class="left">
			<img src="{$img}{$thisController}/powerplate_01.jpg" alt="Power Plate">
		</div>
		<div class="right">
			<p>As aulas são sessões com alongamento prévio, 20 minutos de exercicios de fortalecimento contemplando todos os grupos musculares e massagem com alongamento para finalização.</p>
			<p>Toda atenção é dedicada e o atendimento é individualizado.</p>
			<p>Para resultados satisfatórios, recomendamos de 2 a 3 sessões por semana.</p>
		</div>		
	</div>
</div>
{include file="includes/footer.html"}
