{include file="includes/header.html"}
<div class="c-content-box c-size-md">
  	<div class="container">
	    <div class="row margin-botton-30">
	    	<div class="col-sm-6 col-md-12">
	  			<p class="title">{nocache}Quem somos{/nocache}</p>
	  		</div>
	  	</div>
	  	<div class="row margin-botton-30">
		    <div class="col-sm-12 col-md-6">
		    	<ul class="c-items">
		    		<li>Fundado em 2002, o Studio Raquel Pagani, foi pioneiro em Pilates no norte do Paraná. Iniciando suas atividades à Av. Rio Branco,762, contando incialmente com a capacitação da fisioterapeuta Raquel Pagani e sua equipe formada inicialmente de 2 instrutores. Neste meio tempo,ingressaram novos instrutores e hoje conta com uma equipe de 8 profissionais, todos eles com excelente formação de base e treinados ao rigor de qualidade do Studio. </li>
		    		<li>Na av. Rio Branco ficamos até o início de 2016, quando o sonho não coube mais naquele espaço e cresceu para nossa atual sede, com cerca de 450m², moderna, superequipada e em frente ao Bosque 2, na Av. Nóbrega, 536. </li>
		    		<li>A casa mudou, a equipe cresceu, mas a missão permanece:</li>
		    	</ul>
		    </div>
		    <div class="col-sm-12 col-md-6">
		    	<img src="{$img}{$thisController}/sobre_fachada.png" class="img-responsive">
		    </div>
	  	</div>
	  	<div class="row">
	    	<div class="col-sm-6 col-md-12">
	  			<p class="commitment">“Comprometimento para com os fundamentos essenciais de reorganização</p>
	  			<p class="commitment">difundidos pelo Pilates para reestruturação do corpo, promovendo</p>
	  			<p class="commitment">bem-estar e qualidade de vida aos seus clientes “</p>
	  		</div>
	  	</div>
	</div>  
</div>
<div class="c-content-box">
    <div class="c-content-tile-grid c-bs-grid-reset-space" data-auto-height="true">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/quemsomos1.jpg" alt=""> 
                    </div>
                    <div class="col-sm-6">
                        <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/quemsomos2.jpg" alt=""> 
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/quemsomos3.jpg" alt="">
                    </div>
                    <div class="col-sm-6">
                        <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/quemsomos4.jpg"  alt=""> 
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/quemsomos5.jpg" alt="">
                    </div>
                    <div class="col-sm-6">
                        <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/quemsomos6.jpg"  alt=""> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-content-box c-size-md">
	<div class="container">
		<div class="col-sm-12 col-md-6">
	        <div class="row">
	            <div class="col-sm-3">
	                <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_raquel.png" alt="Raquel Pagani de Mayo"> 
	            </div>
	            <div class="col-sm-9">
	                <p class="title-team">Raquel Pagani de Mayo 
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social1.png">
		                </span> 
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social2.png">
		                </span>
	                </p>
	                <p>Fisioterapeuta (UEL - Universidade Estadual de Londrina) 1984 </p>
	                <p>Formação em RPG (Instituto Philippe Souchard) 1990</p>
	                <p>Formação e Certificação no Método Pilates (PolestarEducation - EUA) 2002 </p>
	                <p>Formação em Power Plate 2008</p>
	            </div>
	        </div>
	    </div>
	    <div class="col-sm-12 col-md-6 border-left">
	        <div class="row">
	            <div class="col-sm-3">
	                <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_aline.png" alt="Aline Bedin">
	            </div>
	            <div class="col-sm-9">
	                <p class="title-team">Aline Bedin 
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social1.png">
		                </span> 
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social2.png">
		                </span>
	                </p>
	                <p>Fisioterapeuta (Cesumar) 2001 </p>
	                <p>Pós-graduação em Terapia Manual e Postural (Instituto Salgado) 2002</p>
	                <p>Reeducação Postural Global (CBF) 2002</p>
	                <p>Pós-graduação em Terapia Manual e Osteopatia (Instituto Docusse) 2005</p>
	                <p>Formação no Método Pilates (Núcleo Angela Beatriz Varella) 2009 </p>
	                <p>Formação em Power Plate 2012</p>
	            </div>
	        </div>
	    </div>
	    <div class="col-sm-12 col-md-6">
	        <div class="row">
	            <div class="col-sm-3">
	                <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_cinthya.png" alt="Cinthya Piassi">
	            </div>
	            <div class="col-sm-9">
	                <p class="title-team">Cinthya Piassi  
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social1.png">
		                </span> 
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social2.png">
		                </span>
	                </p>
	                <p>Fisioterapeuta (Cesumar) 2001  </p>
	                <p>Pós-Graduacao em Terapia Manual e Osteopatia (Instituto Docusse) 2004 </p>
	                <p>Pós-Graduacao em Terapia Manual (Instituto Salgado) 2002 </p>
	                <p>Formação no Método Pilates (Núcleo Ângela Beatriz Varella) 2009 </p>
	                <p>Formação em Power Plate 2008 </p>
	            </div>
	        </div>
	    </div>
	    <div class="col-sm-12 col-md-6 border-left">
	        <div class="row">
	            <div class="col-sm-3">
	                <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_lilian.png" alt="Lilian Carreira Gobetti"> 
	            </div>
	            <div class="col-sm-9">
	                <p class="title-team">Lilian Carreira Gobetti   
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social1.png">
		                </span> 
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social2.png">
		                </span>
	                </p>
	                <p>Fisioterapeuta (FEFIL) 2001   </p>
	                <p>Formação em RPG (Instituto Philippe Souchard) 2003  </p>
	                <p>Especialização em Acupuntura (CEATA) 2003  </p>
	                <p>Pós-Graduação em Terapia Manual (Instituto Salgado) 2005 </p>
	                <p>Formação especial em Patologias Cervicais (Instituto Philippe Souchard) 2006 </p>
	                <p>Pós-Graduação em Terapia Manual e Osteopatia (Instituto Docusse) 2009 </p>
	                <p>Formação em Power Plate 2011 </p>
	            </div>
	        </div>
	    </div>
	    <div class="col-sm-12 col-md-6 border-right">
	        <div class="row">
	            <div class="col-sm-3">
	                <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_glisiane.png" alt="Glisiane Sbrana ">
	            </div>
	            <div class="col-sm-9">
	                <p class="title-team">Glisiane Sbrana   
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social1.png">
		                </span> 
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social2.png">
		                </span>
	                </p>
	                <p>Fisioterapeuta (Cesumar) 2001 </p>
	                <p>Reeducação Postural Global pelo Reequilíbrio Proprioceptivo e Muscular (CBF) 2002 </p>
	                <p>Fisioterapia Aplicada Estética Facial e Corporal (Ibrape) 2002 </p>
	                <p>Fisioterapia Aplicada no pré e pós cirurgia plástica 2002 </p>
	                <p>Terapia Manual e Postural Internacional 2003 </p>
	                <p>Shiatsu (Ibrate) 2004 </p>
	                <p>Fisioterapia Dermato funcional (Ibrate) 2004 </p>
	                <p>Power Plate - São Paulo - SP </p>
	                <p>Pilates no Solo (Ibrate) 2009 </p>
	            </div>
	        </div>
	    </div>
	    <div class="col-sm-12 col-md-6">
	        <div class="row">
	            <div class="col-sm-3">
	                <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_marcio.png" alt="Marcio Reis dos Santos">
	            </div>
	            <div class="col-sm-9">
	                <p class="title-team">Marcio Reis dos Santos    
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social1.png">
		                </span> 
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social2.png">
		                </span>
	                </p>
	                <p>Educador Físico (Cesumar) 2003 </p>
	                <p>Pós-Graduação em Personal Training (UEM) 2010 </p>
	                <p>Certificação em Treinador de Ciclismo (Universidade do Esporte de Curitiba) 2004 </p>
	                <p>Formação em Power Plate 2008</p>
	            </div>
	        </div>
	    </div>
	    <div class="col-sm-12 col-md-6">
	        <div class="row">
	            <div class="col-sm-3">
	                <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_paulo.png" alt="Paulo Aparecido da Silva ">
	            </div>
	            <div class="col-sm-9">
	                <p class="title-team">Paulo Aparecido da Silva     
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social1.png">
		                </span> 
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social2.png">
		                </span>
	                </p>
	                <p>Educador Físico  (Cesumar) 2003  </p>
	                <p>Formação no Método Pilates (Núcleo Angela Beatriz Varella) 2007  </p>
	                <p>Formação em Power Plate 2009  </p>
	                <p>Formação em TRX Suspension Training 2011 </p>
	            </div>
	        </div>
	    </div>
	    <div class="col-sm-12 col-md-6">
	        <div class="row">
	            <div class="col-sm-3">
	                <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_elaine.png" alt="Elaine de O. L. Shiguihara">
	            </div>
	            <div class="col-sm-9">
	                <p class="title-team">Elaine de O. L. Shiguihara     
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social1.png">
		                </span> 
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social2.png">
		                </span>
	                </p>
	                <p>Fisioterapeuta (Universidade do Oeste Paulista)  </p>
	                <p>Formação em RPG "Reeducação postural Global "Philippe' Souchard, com especialização em escoliose </p>
	                <p>Formação completa em Pilates pelo Pilates Institute </p>
	                <p>Formação em Pilates Suspensos pela VOLL Pilates Group </p>
	            </div>
	        </div>
	    </div>
	    <div class="col-sm-12 col-md-6 border-left">
	        <div class="row">
	            <div class="col-sm-3">
	                <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_sthepan.png" alt="Stephan Mazzaro">
	            </div>
	            <div class="col-sm-9">
	                <p class="title-team">Stephan Mazzaro     
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social1.png">
		                </span> 
		                <span>
		                	<img src="{$img}{$thisController}/equipe_social2.png">
		                </span>
	                </p>
	                <p>Massoterapeuta -  Formação Internacional e Especialista em Terapias Manuais no Japão  </p>
	                <p>Formação Internacional em Seitai, Zenshin, Shiatsu e QuickMassage no Japão  </p>
	                <p>Formação em Reflexologia Podal (pés e mãos) na Tailândia  </p>
	                <p>Formação em curso Técnico em Massoterapia no Instituto Superior de Educação Ágata  </p>
	                <p>Formação em Bases de Quiropraxia pela Faculdade IBRATE • Professor no Instituto Superior de Educação Ágata </p>
	            </div>
	        </div>
	    </div>

	</div>    
</div>
<div class="c-content-box c-size-md">
	<div class="col-md-12">
		<img src="{$img}{$thisController}/Equipe_foto.jpg" class="img-responsive">
	</div>
</div>
{include file="includes/footer.html"}