<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Nauticar - Restauração automotiva, funilaria e pinturas personalizadas, construções e consertos em fibra de vidro.">
		<meta name="author" content="Thyago Ghelere">
		<title>Nauticar - Restauração automotiva, pinturas personalizadas, construções e consertos em fibra de vidro.</title>	
	
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	</head>

	<body>
		<div>
			{}
		</div>
	</body>
</html>
