{include file="includes/header.html"}
<div class="container">
	<div class="first">
		<div class="left">
			<h2>TRX® - Treinamento em Suspensão</h2>
			<p>TRX® é um treinamento funcional em suspensão, que trabalha com o peso do corpo.</p>
			<p>No Studio Raquel Pagani são duas modalidades:</p>
			<p><strong>Suspension Training (Treino em suspensão)</strong> desenvolve a força, equilíbrio, flexibilidade e estabilidade do core simultaneamente a partir do exercício de peso corporal - foi criado pelas forças especiais da Marinha Americana.</p>
			<p><strong>Rip Training (Treino com bastão)</strong> é um método multifacetado de resistência variável e condicionamento cardiovascular que	desafia nos três planos de movimento, em séries. Foi criado originalmente para atender às necessidades dos atletas de esportes de combate e hoje pode ser praticado por todos, pois é adaptado ao peso corporal e força individual.</p>
		</div>
		<div class="right">
			 {include file="includes/form-visita.html"}			
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="second">
		<div class="img-trx">
			<a href="{$img}{$thisController}/trx1.jpg" title="">
				<img src="{$img}{$thisController}/trx1.jpg" alt="">
			</a>
		</div>
		<div class="img-trx">
			<a href="{$img}{$thisController}/trx2.jpg" title="">
				<img src="{$img}{$thisController}/trx2.jpg" alt="">
			</a>
		</div>
		<div class="img-trx">
			<a href="{$img}{$thisController}/trx3.jpg" title="">
				<img src="{$img}{$thisController}/trx3.jpg" alt="">
			</a>
		</div>
		<div class="img-trx">
			<a href="{$img}{$thisController}/trx4.jpg" title="">
				<img src="{$img}{$thisController}/trx4.jpg" alt="">
			</a>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="third">
		<div class="left">
			<p>Força</p>
			<p>Equilíbrio</p>
			<p>Flexibilidade</p>
		</div>
		<div class="right">
			<p>Definição muscular</p>
			<p>Eficiência</p>
			<p>Melhora na postura</p>
		</div>
	</div>
</div>
{include file="includes/footer.html"}