{include file="includes/header.html"}
<div class="pilates">
  <h3>Pilates</h3>
  <p class="first-text"><small>Atendimento terapêutico (dor crônica)<br/>
  correção postural e <br/>
  conscientização corporal</small></p>
  <div class="second-text">
    <p class="text-justify">Para todas idades, condicionamentos físicos. 1º em Maringá - desde 2002</p>
    <p class="text-justify">"Seu corpo é seu maior bem, ele guarda e reflete sua alma. Cuide dele como se fosse uma pedra preciosa e nós o lapidaremos"</p>
    <h5 class="text-right">Joseph Pilates</h5>
  </div>
</div>
<div class="ondeestamos text-left">
  <div class="col-md-6 col-md-offset-6">
    <p class="title cl-verde">Centro de</p>
    <h2 class="cl-verde">Bem Estar em Movimento</h2>
    <p class="cl-white">Nossa casa é um centro de Bem Estar!</p>
    <p class="cl-white">Acreditamos no equilíbrio do corpo junto à natureza, priorizando a necessidade individualizada. Estamos em frente ao Bosque 2, fácil localização e estacionamento. Ar fresco, inspiração e luz natural. Venha conhecer e se surpreender!</p>
    <p class="cl-white">{$endContato} - {$localContato} <a href="https://goo.gl/maps/UE5hw3FgME52" target="_blank" type="button" class="btn btn-home radius-none">Clique aqui para saber como chegar</a></p>
  </div>
</div>
{include file="includes/footer.html"}
