{include file="includes/header.html"}
<div class="container">
	<div class="first">
		<h2>{$thisController}</h2>
		<div class="tabs">
			<ul class="nav nav-tabs navbar-right" role="tablist">
				<li role="presentation" class="active"><a href="#drenagem-linfatica" aria-controls="drenagem-linfatica" role="tab" data-toggle="tab">Drenagem linfática</a></li>
				<li role="presentation"><a href="#lipo-redux" aria-controls="lipo-redux" role="tab" data-toggle="tab">Lipo redux</a></li>
				<li role="presentation"><a href="#osteopatia" aria-controls="osteopatia" role="tab" data-toggle="tab">Osteopatia</a></li>
				<li role="presentation"><a href="#acupuntura" aria-controls="acupuntura" role="tab" data-toggle="tab">Acupuntura</a></li>
				<li role="presentation"><a href="#massoterapia" aria-controls="massoterapia" role="tab" data-toggle="tab">Massoterapia</a></li>
				<li role="presentation"><a href="#rpg" aria-controls="rpg" role="tab" data-toggle="tab">RPG</a></li>			
			</ul>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="drenagem-linfatica">
				<h3>Drenagem linfática</h3>
				<p>O sistema linfático é a complexa cadeia de vasos que movem os fluidos do corpo e permitem o não acúmulo indevido em certos pontos, como celulite nos glúteos.</p>
				<p>A Drenagem linfática estimula esse sistema a trabalhar de forma mais acelerada para que o organismo elimine líquidos e toxinas mais rapidamente e de maneira otimizada promovendo bem-estar imediato e alterações sensíveis longo prazo.</p>
				<ul>
					<li>Elimina o inchaço</li>
					<li>Desintoxica o organismo</li>
				</ul>
				<ul>
					<li>Combate à celulite e gordura localizada</li>
					<li>Ativa o sistema imunológico</li>
				</ul>
				<img src="{$img}{$thisController}/mobile_drenagem.jpg" alt="Drenagem linfática">
			</div>
			<div role="tabpanel" class="tab-pane" id="lipo-redux">
				<h3>Lipo Redux</h3>
				<p>É um tipo específico de drenagem linfática associada a outras técnicas e tem como objetivo a modelagem corporal, redução de medidas e melhora na circulação sanguínea.</p>
				<img src="{$img}{$thisController}/mobile_drenagem.jpg" alt="Drenagem linfática">
			</div>
			<div role="tabpanel" class="tab-pane" id="osteopatia">
				<h3>Osteopatia</h3>
				<p>A Osteopatia foi criada pelo Dr. Andrew Taylor-Still (1828-1917), que a partir do estudo das relações entre patologia e sintomas físicos, apresentou os princípios desta medicina natural.</p>
				<p>É um tratamento que tem como objetivo eliminar as causas do desequilíbrio da saúde e busca então fortalecer o poder curativo essencial que existe dentro do próprio corpo. É um sistema de cuidados procura descobrir e corrigir o que está estruturalmente incorreto e, assim contribuir para a recuperação da função normal.</p>
				<p>Isto é possível através de técnicas essencialmente manuais. Existem muitos métodos e técnicas, algumas sutis e outras vigorosas utilizadas pelos osteopatas para atingir o objetivo. A Osteopatia é orientada para o paciente e não para a doença.</p>
				<img src="{$img}{$thisController}/mobile_osteopatia.jpg" alt="Osteopatia">
			</div>
			<div role="tabpanel" class="tab-pane" id="acupuntura">
				<h3>Acupuntura</h3>
				<p>A cura através das agulhas</p>
				<p>A acupuntura é uma técnica da medicina chinesa que se baseia na inserção de agulhas em pontos específicos do corpo, que são estimulados ou inibidos conforme a necessidade trabalhando com o equilíbrio energético do organismo. Este processo leva à liberação de substâncias como a endorfina, noradrenalina, promovendo a cura de determinadas doenças e também age prevenindo-as.</p>
				<p>O alívio da dor pode ser notado na primeira sessão pois desde a o início já estamos reestabelecendo o equilíbrio do corpo.</p>
				<img src="{$img}{$thisController}/mobile_acupuntura.jpg" alt="Acupuntura">
			</div>
			<div role="tabpanel" class="tab-pane" id="massoterapia">
				<h3>Massoterapia</h3>
				<p>Com foco na reoganização postural, nosso serviço de Massoterapia é um planejamento do Stephan Mazzaro, profissional altamente qualificado no Japão e Tailândia. Atende com um mix de reflexologia, shiatsu e quiropraxia, buscando o bem-estar do paciente. O misto de relaxamento e reorganização postural permite que ao fim dessa sessão terápica você saia leve e melhor disposto. Se presenteie!</p>
				<img src="{$img}{$thisController}/mobile_massoterapia.jpg" alt="Massoterapia">
			</div>
			<div role="tabpanel" class="tab-pane" id="rpg">				
				<div class="left">
					<h3>RPG</h3>
					<p>Você sabe o que é RPG ?</p>
					<p>A Reeducação Postural Global (RPG) foi criada em 1980 pelo fisico e fisioterapeuta francês Phillipe Souchard que define o conceito como "uma modelagem humana"</p>
					<p>A RPG, segundo o criador, propõe trabalhar toda a cadeia muscular para tratar problemas do paciente , sempre com a visão global do corpo. A essência do tratamento com RPG é a reeducação do corpo. Exemplo: quando sofremos uma contusão, a primeira reação é fazer com que o corpo tente proteger a lesão para não sentirmos dor. Por isso, criamos automaticamente, um mecanismo de compensação para evitar o problema inicial.</p>
					<p>O principio basico não visa apenas atender pacientes que estejam sentindo dor, mas também aqueles que buscam encontrar um melhor equilibrio e viver em harmonia com o corpo!</p>
				</div>
				<div class="right">
					<img src="{$img}{$thisController}/terapias_rpg.jpg" alt="RPG">
				</div>
			</div>
		</div>
	</div>
	
</div>
{include file="includes/footer.html"}