section.home
    .img-pilates
        img
            +img-responsive
    .ondeestamos
        background: url(images/home_localizacao.jpg) no-repeat top center
        background-size: cover
        height: 400px
        margin: 5px 0
        +breakpoint($tablet)
            height: 300px
        +breakpoint($tablet-landscape)
            height: 320px
        .texto
            +make-sm-column(6)
            +make-sm-column-offset(5)
            +make-md-column(5)
            +make-md-column-offset(6)
            +make-lg-column(5)
            +make-lg-column-offset(6)
            padding: 50px 0 0
            +breakpoint($tablet-landscape)
                padding: 30px 0 0
            +breakpoint($celular-landscape)
                padding: 10px 0 0 10px
            p
                color: $branco                
                margin-bottom: 30px
                +breakpoint($tablet)
                    margin-bottom: 15px
                    font-size: 13px
                +breakpoint($tablet-landscape)
                    margin-bottom: 18px
                    font-size: 14px
            p.title
                color: $verde
                line-height: 30px                
                span
                    font-family: 'Shadows Into Light Two'
                    font-size: 35px
    .mobile
        .pilates-home
            padding: 20px 0
            background: url(images/pilates-m.png) no-repeat center top
            background-position-y: 50px
            background-size: 100%
            p.first-text
                width: 75%
                // font-size: 13px
                margin: 20px 0 180px
            p.second-text                
                width: 100% 
                text-align: justify
                margin-bottom: 15px
            p.cit
                font-style: italic
        .onde-estamos
            background-color: $cinza
            padding: 30px 0
            p.title
                color: $verde
                margin-bottom: 6px
                text-align: left
            h3
                color: $verde
            img
                +img-responsive
                margin: 15px 0
            p
                color: $branco
                font-size: 14px
                text-align: center
                margin: 15px 0