section.home
    .ondeestamos
        +make-row
        background: url(images/home_localizacao.jpg) no-repeat top center
        background-size: cover
        height: 400px
        margin: 5px 0
        .texto
            +make-md-column(5)
            +make-md-column-offset(6)
            padding: 50px 0 0
            p
                color: $branco
                margin-bottom: 30px
            p.title
                color: $verde
                line-height: 30px                
                span
                    font-family: 'Shadows Into Light Two'
                    font-size: 35px
            .btn-home
                margin-left: 40px