section.powerplate
    .first
        padding: 60px 0
        +clearfix
        .left
            +make-md-column(8)
            +breakpoint($celular)
                padding: 0
            h2
                text-transform: capitalize                
                margin-bottom: 40px
            p
                margin-bottom: 20px                
                span
                    padding: 30px 0
                    line-height: 20px
                    background-color: $verde-claro
                    display: inline-block
                    width: 100%
                    text-align: center                    
        .right
            float: right !important
            +make-md-column(3)
            padding-top: 55px
            +breakpoint($celular)
                display: none    
        .visite
            width: 80%
            margin-top: 20px
            background-color: $verde
            padding: 30px
            +clearfix
            text-align: center
            p
                line-height: 30px
            a
                line-height: 30px
                font-weight: $bold
                color: $branco
    .container-fluid
        padding: 0                 
        .second 
            +clearfix       
            .img-powerplate
                float: left                
                width: 25%                                
                img
                    +img-responsive
                    width: 100%
    .third
        padding: 60px 0
        +clearfix        
        .left
            +make-md-column(6,1)
            +breakpoint($celular)
                display: none  
            img
                +img-responsive
        .right
            +make-md-column(6,0)
            padding-top: 10%
            p
                margin-bottom: 30px
        
	