section.quemsomos
    .first
        padding: 60px 0
        +clearfix
        .left
            +make-md-column(6,1)
            +breakpoint($tablet)
                width: 100%
            h2
                text-transform: capitalize                
                margin-bottom: 40px
            h3
                margin-bottom: 20px
            p
                margin-bottom: 20px
                padding-right: 15px                
        .right
            +make-md-column(6,1)
            +breakpoint($tablet)
                width: auto
            // padding-top: 55px            
            img
                margin-top: 160px
                +breakpoint($tablet)
                    margin-top: 20px
                +img-responsive
                +breakpoint($celular)
                    margin: 0
    .container-fluid
        padding: 0                 
        .second 
            +clearfix       
            .img-quemsomos
                float: left                
                width: 16.66%                
                +img-responsive
                img
                    width: 100%
    .third
        margin: 60px 0
        h3
            margin-bottom: 30px
        +clearfix
        .left, .right
            width: 49%
            +breakpoint($celular-landscape)
                width: 48%
            float: left
            .person
                +clearfix
                margin-bottom: 30px
                .img
                    width: 30%
                    +breakpoint($celular-landscape)
                        width: 28%
                    float: left
                    +clearfix                 
                    img
                        +img-responsive
                    ul
                        li
                            float: left
                            width: 24px
                            height: 24px
                            margin: 10px 0 0 15px
                            a
                                display: inline-block
                                width: 24px
                                height: 24px
                                &:hover
                                    +opacity(.5)                                    
                            a.face
                                background: url(images/face.png) no-repeat center center
                            a.insta
                                background: url(images/insta.png) no-repeat center center

                .description
                    +clearfix
                    width: 60%
                    float: left
                    padding: 0 20px
                    +breakpoint($celular)
                        padding: 0 0 0 10px
                    p
                        font-size: 14px
                        margin-bottom: 12px
                        
                    p.title
                        font-size: 15px
                        font-weight: $bold
                        text-transform: uppercase
                        margin-bottom: 15px
                        line-height: 15px            
        .right
            padding-left: 15px
            border-left: 1px solid $preto
            +breakpoint($celular)
                padding: 0
                border: none

        #accordion
            .person
                +clearfix
                .img                   
                    +make-xs-column(3,1)
                    +clearfix                 
                    img
                        +img-responsive
                    ul
                        li
                            float: left
                            width: 24px
                            height: 24px
                            margin: 8%
                            a
                                display: inline-block
                                width: 24px
                                height: 24px
                                &:hover
                                    +opacity(.5)                                    
                            a.face
                                background: url(images/face.png) no-repeat center center
                            a.insta
                                background: url(images/insta.png) no-repeat center center

                .description
                    +clearfix
                    +make-md-column(9,1)
                    +make-xs-column(8.5,1)
                    padding: 0 20px
                    +breakpoint($celular)
                        padding: 0 0 0 10px
                    p
                        font-size: 13px
                        margin-bottom: 12px
                        
                    p.title
                        font-size: 15px
                        font-weight: $bold
                        text-transform: uppercase
                        margin-bottom: 15px
                        line-height: 15px 







    .forth
        img
            +img-responsive