section.trx
    .first
        padding: 60px 0
        +clearfix
        .left
            +clearfix
            +make-md-column(8, 1)
            +breakpoint($celular)
                padding: 0
            h2
                text-transform: capitalize                
                margin-bottom: 40px
            p
                margin-bottom: 20px                
                span
                    padding: 30px 0
                    line-height: 20px
                    background-color: $verde-claro
                    display: inline-block
                    width: 100%
                    text-align: center                    
        .right
            float: right !important
            +make-md-column(3, 1)
            +breakpoint($celular-landscape)
                width: 100%
            padding-top: 55px
            +breakpoint($celular)
                display: none  
    .container-fluid
        padding: 0                 
        .second 
            +clearfix       
            .img-trx
                float: left                
                width: 25%                
                img
                    +img-responsive
                    width: 100%
    .third
        padding: 60px 0
        margin: 5px 0
        margin-left: 0 !important
        margin-right: 0 !important
        background: url(images/trx_beneficios.jpg) no-repeat center center
        background-size: cover
        +breakpoint($celular)
            background: none        
        +make-row
        .left, .right
            +make-md-column(6,1)
            p
                text-align: center
                font-size: 30px
                color: $amarelo
                line-height: 60px
                +breakpoint($celular)
                    color: $preto