footer
    .footer-top
        +clearfix
        width: 100%
        background: $cinza-footer url(/assets/css/images/footer_01.png) no-repeat left bottom        
        +breakpoint($tablet)
            background-position-x: -40px
        .footer-list
            height: 270px
            margin: 40px auto 0
            display: flex
            justify-content: space-around
            align-items: stretch
            +clearfix
            .coluna
                // min-width: 180px
                // background-color: red
                margin-left: 1%
            #fb
                min-width: 250px
                width: 309px
                +breakpoint($tablet)
                    display: none

            .social
                min-width: 102px
            .servicos
                min-width: 180px
            .servicos2
                min-width: 150px                                
            .areas
                min-width: 150px
            div
                ul li                                   
                    color: $branco
                    font-size: 11px
                    
                    &.title
                        color: $azul-claro
                        text-transform: uppercase
                        font-size: 12px
                        margin-bottom: 15px
                    a
                        color: $branco
                        line-height: 14px                        
                        &:hover
                            color: $verde
        .social ul li.phone
            margin-top: 10px
        .socials
            +breakpoint($tablet)
                ul
                    text-align: left
                    li
                        margin: 0 2% 1% 0            
            ul li
                width: 30px
                display: inline-block                
                a
                    height: 25px
                    width: 25px
                    background: url(/assets/css/images/footer_social_icones.png) no-repeat top left
                    display: block
                    &.yt
                        background-position: 0 -25px
                        &:hover
                            background-position: 0 0
                    &.ig
                        background-position: 0 -75px
                        &:hover
                            background-position: 0 -50px
                    &.fb
                        background-position: 0 -125px
                        &:hover
                            background-position: 0 -100px
                    span
                        display: none
                
    .footer-bottom
        +clearfix
        width: 100%
        line-height: 20px        
        background: $cinza-active
        color: $branco
        font-size: 10px    
    .footer-mobile
        font-size: 11px
        // height: 300px
        a.phone
            margin: 10px 0
            text-align: left !important
            display: block
        ul.links
            width: 45%
            margin: 30px 0 20px 18%
            float: left
            li
                margin-bottom: 12px
                
                a
                    color: $branco
        .contact
            width: 37%
            float: left
            margin-top: 30px
            p
                color: $branco
            a
                color: $branco
                text-align: center
            ul
                margin: 12px 0