.menu    
    background-color: $cinza
    .logo
        width: 57px
        height: 43px
        display: block
        float: left
        background: url(images/logo.png) no-repeat center -43px
        margin-top: 8px
        &:hover
            background-position: 0 0
        h1
            display: none
    ul
        padding: 4px 0
        text-transform: uppercase
        font-size: 12px
        li
            a
                color: $branco
                padding: 15px 13px
                &:hover
                    color: $verde
                    background-color: rgba($preto, 0.6)
        li.active
            a
                background-color: $verde
                color: $cinza-active
    .navbar-toggle
        +border-radius(0px)
    #navbar-menu:hover, #navbar-close:hover
        color: $preto