.menu    
    +breakpoint($celular)
        display: none
    background-color: $cinza
    .logo
        width: 57px
        height: 43px
        display: block
        float: left
        background: url(/assets/css/images/logo.png) no-repeat center -43px
        margin-top: 8px
        &:hover
            background-position: 0 0
        h1
            display: none
    ul
        padding: 4px 0
        text-transform: uppercase
        font-size: 12px
        li
            a
                color: $branco
                padding: 15px 13px
                +breakpoint($tablet)
                    padding: 15px 10px
                &:hover
                    color: $verde
                    background-color: rgba($preto, 0.6)
        li.active
            a
                background-color: $verde
                color: $cinza-active
    .navbar-toggle
        +border-radius(0px)
    #navbar-menu:hover, #navbar-close:hover
        color: $preto

.menu-mobile     
    .list
        width: 100%
        height: auto
        background-color: $cinza
        position: fixed
        bottom: 0
        z-index: 4
        ul
            li
                text-align: center                
                font-size: 11px
                padding: 10px 0
                display: inline-block
                //line-height: 40px
                &.home, &.menu-open, &.contato, &.comochegar
                    width: 24%
                a
                    display: inline-block
                    width: 100%
                    height: 100%
                    color: $branco
                    span
                        width: 100%
                        float: left
                        text-align: center
                        line-height: 18px
                    i                        
                        font-size: 22px
                        text-align: center
    .open-menu                     
        height: 100%
        width: 100%
        background: $azul // url(/assets/css/images/grade.png) no-repeat center
        background-position-y: -30px
        background-size: cover        
        position: fixed
        top: 0
        left: 0
        z-index: 3
        a.close
            position: fixed
            top: 20px
            left: 20px
            display: block
            i
                color: $branco
                font-size: 20px            
        img
            +img-responsive
            margin: 0 auto;
            max-width: 60%
            margin-top: 40px
        .icons
            +clearfix
            height: 100%
            ul
                height: 100%
                width: 100%
                margin-top: 30px
                li
                    position: relative
                    font-size: 11px
                    text-transform: uppercase
                    width: 50%                       
                    float: left
                    display: block
                    // margin: 30px 0 10px
                    
                    &.pi                        
                        a                   
                            background: url(/assets/css/images/pilates-c.png) no-repeat center center
                            background-size: 70%
                        &::after
                            content: ""
                            position: absolute
                            top: 12%
                            right: 0
                            height: 70%
                            width: 0.5px
                            background-color: $azul-claro
                        &::before
                            content: ""
                            position: absolute
                            bottom: 0
                            left: 30%
                            height: 0.5px
                            width: 55%
                            background-color: $azul-claro
                    &.po 
                        a
                            background: url(/assets/css/images/powerplate-c.png) no-repeat center center
                            background-size: 70%                        
                        &::after
                            content: ""
                            position: absolute
                            top: 12%
                            left: 0
                            height: 70%
                            width: 0.5px
                            background-color: $azul-claro
                        &::before
                            content: ""
                            position: absolute
                            bottom: 0
                            right: 30%
                            height: 0.5px
                            width: 55%
                            background-color: $azul-claro
                    &.tr
                        a
                            background: url(/assets/css/images/trx-c.png) no-repeat center center
                            background-size: 70%
                        &::before
                            content: ""
                            position: absolute
                            top: 0
                            left: 30%
                            height: 0.5px
                            width: 55%
                            margin: 0 auto
                            background-color: $azul-claro
                        &::after
                            content: ""
                            position: absolute
                            top: 16%
                            right: 0
                            height: 60%
                            width: 0.5px
                            background-color: $azul-claro
                    &.te
                        a
                            background: url(/assets/css/images/terapias-c.png) no-repeat center center
                            background-size: 70%
                        &::after
                            content: ""
                            position: absolute
                            top: 16%
                            left: 0
                            height: 60%
                            width: 0.5px
                            background-color: $azul-claro
                        &::before
                            content: ""
                            position: absolute
                            top: 0
                            right: 30%
                            height: 0.5px
                            width: 55%
                            background-color: $azul-claro
                    &.pi, &.po
                        height: 22%
                        a span
                            bottom: 20%
                    &.tr, &.te
                        height: 27%
                        a span
                            bottom: 20%
                    &.qu
                        height: 15%
                        &::after
                            content: ""
                            position: absolute
                            top: 15%
                            right: 0
                            height: 80%
                            width: 0.5px
                            background-color: $azul-claro
                        &::before
                            content: ""
                            position: absolute
                            top: 0
                            right: 0
                            height: 0.5px
                            width: 90%
                            background-color: $azul-claro
                        a span
                            top: 50%
                    &.co
                        height: 15%
                        &::after
                            content: ""
                            position: absolute
                            top: 15%
                            left: 0
                            height: 80%
                            width: 0.5px
                            background-color: $azul-claro
                        &::before
                            content: ""
                            position: absolute
                            top: 0
                            left: 0
                            height: 0.5px
                            width: 90%
                            background-color: $azul-claro
                        a span
                            top: 50%
                    a                        
                        width: 80%
                        height: 80%
                        margin: 0 auto
                        color: $branco
                        display: block
                        
                        span
                            position: absolute
                            width: 100%
                            bottom: 5px
                            text-align: center
                            left: 0



