<div id="carousel-example-generic2" class="carousel slide carousel-fullscreen carousel-fade" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
		{nocache}
		{foreach from=$banners item=banner key=k}
		<div id="{$thisController}" class="item {if $k == 0}active{/if}" style="background-image: url({$img}banners/{$banner.url}); background-size:auto;">
			<div class="overlay"></div>
			<div class="carousel-caption">
				{if $banner.title != null}
				<h1 class="super-heading">{$banner.title}</h1>
				{/if} {if $banner.sub != null}
				<p class="super-paragraph">{$banner.sub}</p>
				{/if}
				{if $banner.html != null}
					<div class="{$thisController}">
						{$banner.html}
					</div>
				{/if}
			</div>
		</div>
		{/foreach}		
	</div>
	{if $banners|@count > 1}
		<!-- Indicators -->
		<ol class="carousel-indicators">
			{for $i=0 to $banners|@count-1}
				<li data-target="#carousel-example-generic2" data-slide-to="{$i}" {if $i == 0}class="active"{/if} ></li>
			{/for}		
		</ol>		
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
			<span class="left-control" aria-hidden="true"><i class="fa fa-angle-left"></i></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
			<span class="right-control" aria-hidden="true"><i class="fa fa-angle-right"></i></span>
			<span class="sr-only">Next</span>
		</a>
	{/if}
	{/nocache}
</div>