</section>
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row footer-list text-left">
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
          <ul>
            <li class="title">Studio Raquel Pagani</li>
            <li>História</li>
            <li>Equipe</li>
            <li><a href="{$rootUrl}/quemsomos/" title="Quem somos">Quem somos</a></li>
            <li><a href="{$rootUrl}/contato/" title="Contato">Contato</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
          <ul>
            <li class="title">Serviços</li>
            <li>Pilates Terapêutico</li>
            <li>Pilates para Adolescentes</li>
            <li>Pilates para Gestantes e Pós-parto</li>
            <li>Pilates para Terceira idade</li>
            <li>Pilates para Atletas</li>
            <li>Pilates para Sedentarismo</li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
          <ul>
            <li class="title"></li>
            <li>Power Plate</li>
            <li>TRX - Treino em Suspensão</li>
            <li>RPG</li>
            <li>Osteopatia</li>
            <li>Drenagem Linfática</li>
            <li>Massoterapia</li>
            <li>Lipo Redux</li>
            <li>Acupuntura</li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
          <ul>
            <li class="title">Social</li>
            <li class="socials">
                <ul>
                  <li><a class="fb" target="_blank" href="https://www.facebook.com/studioraquelpagani/" title="Facebook"><span>Facebook</span></a> </li>
                  <li><a class="ig" target="_blank" href="https://www.instagram.com/studioraquelpagani/" title="Instagram"><span>Instagram</span></a></li>
                  <li><a class="yt" target="_blank" href="https://www.youtube.com/channel/UCZShRAnQbdqsWfVPpdencJQ" title="Youtube"><span>Youtube</span></a></li>
                </ul>
            </li>
            <li><a target="_blank" href="">Blog do Studio</a></li>
            <li><a target="_blank" href="https://www.instagram.com/mercadinhodostudio/">Mercadinho do Studio</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          {if $ambiente == "producao"}
            <div class="fb-page" data-href="https://www.facebook.com/studioraquelpagani/" data-width="290px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/studioraquelpagani/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/studioraquelpagani/">Studio Raquel Pagani</a></blockquote></div>
          {/if}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container text-center">
      <p>{$name} - Todos os Direitos Reservados - 2016/2017 - Maringá - PR</p>
    </div>
  </div>
</footer>
<script type="text/javascript" src="{$rootUrl}/min/g=js"></script>
<div id="alertas"></div>
</div>
</body>
</html>
