</section>
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      {if DEVICE == 'pc'}
      <div class="footer-list">
        <div class="areas coluna">
          <ul>
            <li class="title">Studio Raquel Pagani</li>
            <li><a href="{$rootUrl}/quemsomos/" title="História">História</a></li>
            <li><a href="{$rootUrl}/quemsomos/" title="Equipe">Equipe</a></li>
            <li><a href="{$rootUrl}/quemsomos/" title="Quem somos">Quem somos</a></li>
            <li><a href="{$rootUrl}/contato/" title="Contato">Contato</a></li>
          </ul>
        </div>
        <div class="servicos coluna">
          <ul>
            <li class="title">Serviços</li>
            <li><a href="{$rootUrl}/pilates/" title="Pilates Terapêutico">Pilates Terapêutico</a></li>
            <li><a href="{$rootUrl}/pilates/" title="Pilates para Adolescentes">Pilates para Adolescentes</a></li>
            <li><a href="{$rootUrl}/pilates/" title="Pilates para Gestantes e Pós-parto">Pilates para Gestantes e Pós-parto</a></li>
            <li><a href="{$rootUrl}/pilates/" title="Pilates para Terceira idade">Pilates para Terceira idade</a></li>
            <li><a href="{$rootUrl}/pilates/" title="Pilates para Atletas">Pilates para Atletas</a></li>
            <li><a href="{$rootUrl}/pilates/" title="Pilates para Sedentarismo">Pilates para Sedentarismo</a></li>
          </ul>
        </div>
        <div class="servicos2 coluna">
          <ul>
            <li class="title">&emsp;</li>
            <li><a href="{$rootUrl}/powerplate/" title="Power Plate">Power Plate</a></li>
            <li><a href="{$rootUrl}/trx/" title="TRX - Treino em Suspensão">TRX - Treino em Suspensão</a></li>
            <li><a href="{$rootUrl}/terapias/" title="RPG">RPG</a></li>
            <li><a href="{$rootUrl}/terapias/" title="Osteopatia">Osteopatia</a></li>
            <li><a href="{$rootUrl}/terapias/" title="Drenagem Linfática">Drenagem Linfática</a></li>
            <li><a href="{$rootUrl}/terapias/" title="Massoterapia">Massoterapia</a></li>
            <li><a href="{$rootUrl}/terapias/" title="Lipo Redux">Lipo Redux</a></li>
            <li><a href="{$rootUrl}/terapias/" title="Acupuntura">Acupuntura</a></li>
          </ul>
        </div>
        <div class="social coluna">
          <ul>
            <li class="title">Social</li>
            <li class="socials">
                <ul>
                  <li><a class="fb" target="_blank" href="https://www.facebook.com/studioraquelpagani/" title="Facebook"><span>Facebook</span></a> </li>
                  <li><a class="ig" target="_blank" href="https://www.instagram.com/studioraquelpagani/" title="Instagram"><span>Instagram</span></a></li>
                  <li><a class="yt" target="_blank" href="https://www.youtube.com/channel/UCZShRAnQbdqsWfVPpdencJQ" title="Youtube"><span>Youtube</span></a></li>
                </ul>
            </li>
            {*<li><a target="_blank" href="https://blograquelpagani.wordpress.com/">Blog do Studio</a></li>
            <li><a target="_blank" href="https://www.instagram.com/mercadinhodostudio/">Mercadinho do Studio</a></li>*}
          </ul>
        </div>
        <div id="fb" class="coluna">
            <div class="fb-page" data-href="https://www.facebook.com/studioraquelpagani/" data-width="309" data-small-header="false"
              data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
              <blockquote cite="https://www.facebook.com/studioraquelpagani/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/studioraquelpagani/">Studio Raquel Pagani</a>
              </blockquote>
            </div>
        </div>
      </div>
      {else}
      <div class="footer-mobile">
        <ul class="links">
          <li><a href="{$rootUrl}/pilates/" title="Pilates">Pilates</a></li>
          <li><a href="{$rootUrl}/powerplate/" title="Power Plate">Power Plate</a></li>
          <li><a href="{$rootUrl}/trx/" title="TRX - Treino em Suspensão">TRX - Treino em Suspensão</a></li>
          <li><a href="{$rootUrl}/terapias/" title="RPG">RPG</a></li>
          <li><a href="{$rootUrl}/terapias/" title="Osteopatia">Osteopatia</a></li>
          <li><a href="{$rootUrl}/terapias/" title="Drenagem Linfática">Drenagem Linfática</a></li>
          <li><a href="{$rootUrl}/terapias/" title="Massoterapia">Massoterapia</a></li>
          <li><a href="{$rootUrl}/terapias/" title="Lipo Redux">Lipo Redux</a></li>
          <li><a href="{$rootUrl}/terapias/" title="Acupuntura">Acupuntura</a></li>
          <li><a href="{$rootUrl}/quemsomos/" title="Quem somos">Quem somos</a></li>
        </ul>
        <div class="contact">
          <p>Acompanhe-nos pelas redes sociais</p>
          <div class="socials">
            <ul>
              <li><a class="fb" target="_blank" href="https://www.facebook.com/studioraquelpagani/" title="Facebook"><span>Facebook</span></a> </li>
              <li><a class="ig" target="_blank" href="https://www.instagram.com/studioraquelpagani/" title="Instagram"><span>Instagram</span></a></li>
              <li><a class="yt" target="_blank" href="https://www.youtube.com/channel/UCZShRAnQbdqsWfVPpdencJQ" title="Youtube"><span>Youtube</span></a></li>
            </ul>
          </div>
          <a href="{$rootUrl}/contato/" title="Contato">Fale conosco</a>
        </div>
      </div>
      {/if}      
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container text-center">
      <p>{$name} - Todos os Direitos Reservados - 2016/2017 - Maringá - PR</p>
    </div>
  </div>
</footer>

<script type="text/javascript" src="{$js}scripts.min.js"></script>

</div>
</body>
</html>