<div class="form-visita">
    <form action="{$rootUrl}/{$thisController}" method="post">
        <p class="title">Venha conhecer nosso espaço e fazer uma aula experimental de <span>{$thisController}</span>.</p>
        <div class="form-group">
            <input class="form-control" name="nome" placeholder="Nome" type="text" required >
        </div>
        <div class="form-group">
            <input class="form-control" name="email" placeholder="E-mail" type="email" required>
        </div>
        <div class="form-group">
            <input class="form-control phone" name="fone" placeholder="Telefone" type="tel" required>
        </div>
        <input type="hidden" name="area" value="{$thisController}">
        <div class="form-group">
            <button class="btn btn-azul">Enviar</button>
        </div>
    </form>
</div>