{if DEVICE == 'pc'}
<div class="main-nav menu">
  <div class="container">
    <a class="logo" href="{$rootUrl}" title="{$name}"><h1>{$name}</h1></a>
    <div class="collapse navbar-collapse text-center">
      <ul class="nav navbar-nav navbar-right">
        {nocache}
        <li {if $thisController == 'pilates'}class="active"{/if}><a href="{$rootUrl}/pilates/" title="Pilates">Pilates</a></li>
        <li {if $thisController == 'powerplate'}class="active"{/if}><a href="{$rootUrl}/powerplate/" title="Power Plate">Power Plate</a></li>
        <li {if $thisController == 'trx'}class="active"{/if}><a href="{$rootUrl}/trx/" title="TRX - Treinamento em Suspensão">TRX - Treinamento em Suspensão</a></li>
        <li {if $thisController == 'terapias'}class="active"{/if}><a href="{$rootUrl}/terapias/" title="Terapias">Terapias</a></li>
        <li {if $thisController == 'quemsomos'}class="active"{/if}><a href="{$rootUrl}/quemsomos/" title="Quem Somos">Quem Somos</a></li>
        <li {if $thisController == 'contato'}class="active"{/if}><a href="{$rootUrl}/contato/" title="Contato">Contato</a></li>
        {/nocache}
      </ul>
    </div>
  </div>
</div>
{elseif DEVICE == 'mobile'}
<nav class="menu-mobile">
  <div class="list">
    <ul>
      <li class="home"><a href="{$rootUrl}" title="Home"><i class="fa fa-home"></i>Início</a></li>
      <li class="menu-open"><a href="#" title="Menu"><i class="fa fa-bars"></i>Menu</a></li>
      <li class="contato"><a href="{$rootUrl}/contato/" title="Contato"><i class="fa fa-comment"></i>Contato</a></li>
      <li class="comochegar"><a href="{$rootUrl}/comochegar/" title="Como Chegar"><i class="fa fa-map-marker"></i>Como Chegar</a></li>
    </ul>
  </div>
  <div class="open-menu hidden">
    <a href="#" class="close menu-open" title="Fechar"><i class="fa fa-close"></i></a>
    <img src="{$img}/logo-menu.png" alt="{$name}">
    <div class="icons">
      <ul>
        <li class="pi"><a href="{$rootUrl}/pilates/" title="Pilates"><span>Pilates</span></a></li>
        <li class="po"><a href="{$rootUrl}/powerplate/" title="Power Plate"><span>Power Plate</span></a></li>
        <li class="tr"><a href="{$rootUrl}/trx/" title="TRX - Treino em suspensão"><span>TRX <br>Treino em suspensão</span></a></li>
        <li class="te"><a href="{$rootUrl}/terapias/" title="Terapias"><span>Terapias</span></a></li>
        <li class="qu"><a href="{$rootUrl}/quemsomos/" title="Quem somos"><span>Quem somos</span></a></li>
        <li class="co"><a href="{$rootUrl}/contato/" title="Contato"><span>Contato</span></a></li>
      </ul>
    </div>
  </div>
</nav>
{/if}