<nav class="menu-mobile">
  <div class="list">
    <ul>
      <li class="home"><a href="{$rootUrl}" title="Home"><i class="fa fa-home"></i><span>Início</span></a></li>
      <li class="menu-open"><a href="#" title="Menu"><i class="fa fa-bars"></i><span>Menu</span></a></li>
      <li class="contato"><a href="{$rootUrl}/contato/" title="Contato"><i class="fa fa-comment"></i><span>Contato</span></a></li>
      <li class="comochegar"><a href="{$rootUrl}/comochegar/" title="Como Chegar"><i class="fa fa-map-marker"></i><span>Como Chegar</span></a></li>
    </ul>
  </div>
  <div class="open-menu hidden">
    <a href="#" class="close menu-open" title="Fechar"><i class="fa fa-close"></i></a>
    <img src="{$img}/logo-menu.png" alt="{$name}">
    <div class="icons">
      <ul>
        <li class="pi"><a href="{$rootUrl}/pilates/" title="Pilates"><span>Pilates</span></a></li>
        <li class="po"><a href="{$rootUrl}/powerplate/" title="Power Plate"><span>Power Plate ®</span></a></li>
        <li class="tr"><a href="{$rootUrl}/trx/" title="TRX - Treino em suspensão"><span>TRX <br>Treino em suspensão</span></a></li>
        <li class="te"><a href="{$rootUrl}/terapias/" title="Terapias"><span>Terapias</span></a></li>
        <li class="qu"><a href="{$rootUrl}/quemsomos/" title="Quem somos"><span>Quem somos</span></a></li>
        <li class="co"><a href="{$rootUrl}/contato/" title="Contato"><span>Contato</span></a></li>
      </ul>
    </div>
  </div>
</nav>