<nav class="menu-mobile">
  <div class="list">
    <ul>
      <li class="home {if $thisController == 'home'}active{/if}"><a href="{$rootUrl}" title="Home"><i class="fa fa-home"></i><span>Início</span></a></li>
      <li class="menu-open"><a href="#" title="Menu"><i class="fa fa-bars"></i><span>Menu</span></a></li>
      <li class="contato {if $thisController == 'contato'}active{/if}"><a href="{$rootUrl}/contato/" title="Contato"><i class="fa fa-comment"></i><span>Contato</span></a></li>
      <li class="comochegar {if $thisController == 'comochegar'}active{/if}"><a href="{$rootUrl}/comochegar/" title="Como Chegar"><i class="fa fa-map-marker"></i><span>Como Chegar</span></a></li>
    </ul>
  </div>
  <div class="open-menu hidden">
    <a href="#" class="close menu-open" title="Fechar"><i class="fa fa-close"></i></a>
    <img src="{$img}/logo-menu2.png" alt="{$name}">
    <div class="menu-list">
      <ul>
        {nocache}
        <li class="{if $thisController == 'pilates'}active{/if} pilates"><a title="Pilates" href="{$rootUrl}/pilates/">Pilates<i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        <li class="{if $thisController == 'powerplate'}active{/if} powerplate"><a title="Power Plate ®" href="{$rootUrl}/powerplate/">Power Plate ®<i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        <li class="{if $thisController == 'trx'}active{/if} trx"><a title="TRX - Treinamento em suspensão" href="{$rootUrl}/trx/">TRX - Treinamento em suspensão<i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        <li class="{if $thisController == 'terapias'}active{/if} terapias"><a title="Terapias Manuais" href="{$rootUrl}/terapias/">Terapias Manuais<i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        <li class="{if $thisController == 'quemsomos'}active{/if} quemsomos"><a title="Quem somos" href="{$rootUrl}/quemsomos/">Quem somos<i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        <li class="{if $thisController == 'contato'}active{/if} contato"><a title="Contato" href="{$rootUrl}/contato/">Contato<i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        {/nocache}
      </ul>
    </div>
  </div>
</nav>